
/******* General Style *******/
body {
  background: rgb(255, 255, 255);
}

p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4vmin;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding-left: 20%;
  padding-right: 20%;
}

/*** Title styles ***/
h1 {
  text-align: center;
  color: rgb(228, 228, 228);
  font-size: 5vh;
  font-family: 'Poppins', sans-serif;
}
h2 {
  text-align: center;
  display: block;
  font-size: 4.2vh;
  color: rgb(21, 22, 32);
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: center;
  color: rgb(228, 228, 228);
  font-size: 4.2vh;
  font-family: 'Poppins', sans-serif;
}

/******* Header Style *******/
header {
  background-color: rgb(21, 22, 32);
  padding-top: 20px;
  padding-bottom: 15px;
  line-height: 36px;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  text-align: center;
}

.profilpic {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  border-radius: 100%;
  object-fit: cover;
}

/******* Main / Article Style ******/
main {
  margin-bottom: 40px;
}

/*** Programing languages icons ***/
.separation {
  height: 1vmin;
  width: 100%;
  background-color: white;
}

/* The programming languages icons */
.language {
  font-size: 7.6vmax;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(21, 22, 32);
  line-height: 36px;
  margin-right: -8px;
  margin-left: -8px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.language>h3 {
  width: 100%;
}

.language>i {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}


/* Programming languages gain color upon hover */
.fa-html5:hover {
  color: rgb(255, 40, 40);
}

.fa-css3-alt:hover {
  color: rgb(40, 40, 255);
}

.fa-js-square:hover {
  color: rgb(241, 245, 40);
}

.fa-php:hover {
  color: rgb(126, 128, 255);
}

/*** Overlay Section ***/

#sectionOverlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
}

/* Binding the links to a background image */
#sectionOverlay>a{
  background-image: url("../images/project3.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  border-radius: 20px;
  margin: 20px;
}

/* Seeting the image's size */
#sectionOverlay>a>div{
  width: 266px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
/* Hidden mask (overlay) revealed when hovered */
.mask {
  opacity: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.mask:hover{
  transition: .5s ease;
  opacity: 0.8;
}

/* Paragraphe and Title size, position and style */

#sectionOverlay>a>div>h4{
  color: rgb(21, 22, 32);
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

#sectionOverlay>a>div>p{
  color: rgb(21, 22, 32);
  font-size: 15px;
  width: 180px;
  text-align: center;
  margin-bottom: 80px;
}


/******* Footer Style *******/
footer {
  padding: 10px;
  background-color: rgb(228, 228, 228);
  margin-bottom: 30px;
  margin-right: -8px;
  margin-left: -8px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo a {
  color: rgb(87, 62, 201);
  font-size: 50px;
}

/* The middle logo pushes the 2 others to the side */
.logo>a:nth-child(2) {
  margin-left: 60px;
  margin-right: 60px;
}

footer p {
  text-align: center;
  font-size: 2.5vmin;
  color: rgb(21, 22, 32);
}

/* Lift button. Sends you back up the page when clicked */
.gotostart {
  display: flex;
  justify-content: flex-end;
}

.gotostart a {
  font-size: 50px;
  color: rgb(87, 62, 201);
}